.App{
  --primary-color:rgb(3, 99, 102);
}
.header{
  border-bottom: 1px solid gray;
}
.brand h1{
  font-size: 28px;
  color: var(--primary-color);
  margin-left: 30px;
}
.search{
  float: right;
  margin-right: -400px;
}
.menu-items h5{
  font-size: 18px;
  color: white;
}
.menu-items h5:hover{
  color: var(--primary-color);
}
.main{
  height: 1000px;
  width: 100%;
  background: linear-gradient(to right, rgba(30, 30, 31, 0.9), rgba(32, 34, 36, 0.4)), url("images/witcher.jpg") right top no-repeat ;
  background-size: cover;
 
}
.movie-info{
  height: 300px;
  width: 30%;
  margin: 0;
  position: absolute;
  top: 20%;
  margin-left: 150px;
  align-items: center;
  text-align: left;
  color: white;
}
